// Font
$font-family: 'Epilogue', sans-serif;

// Media queries
$mobile: 375px;
$tablet: 500px;
$desktop: 1440px;

// Colors
$almost-black: hsl(0, 0%, 8%);
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);